#####################################################################
#   Extruder
#####################################################################

##	In E0-MOT Position
[extruder]
#step_pin: PD5
#dir_pin: PD6
#enable_pin: !PD4
step_pin: sb2040:gpio9
dir_pin: !sb2040:gpio10
enable_pin: !sb2040:gpio7
##	Update value below when you perform extruder calibration
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point
rotation_distance: 22.906498087286371467	#Bondtech 5mm Drive Gears
##	Update Gear Ratio depending on your Extruder Type
##	Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##	Use 80:20 for M4, M3.1
#gear_ratio: 50:17				#BMG Gear Ratio
gear_ratio: 50:10
microsteps: 16
full_steps_per_rotation: 200	#200 for 1.8 degree, 400 for 0.9 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
##      In E0 OUT Position
#heater_pin: PB15
heater_pin: sb2040:gpio6
sensor_type: PT1000
pullup_resistor: 1000
#sensor_pin: PC0 # TE0 Position
#sensor_type: ATC Semitec 104GT-2
sensor_pin: sb2040:gpio27
min_temp: 0
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
##	Try to keep pressure_advance below 1.0
#PLA
pressure_advance: 0.035
#ABS
#pressure_advance: 0.055
##	Default is 0.040, leave stock
pressure_advance_smooth_time: 0.040
max_extrude_cross_section: 2
max_extrude_only_distance: 101

##	In E0-MOT Position
#[tmc2240 extruder]  #UART
##uart_pin: PD7
#uart_pin: sb2040:gpio8
##interpolate: false
#run_current: 0.6
##hold_current: 0.2
##sense_resistor: 0.110
#stealthchop_threshold: 0

[tmc2240 extruder]   #SPI
cs_pin: sb2040:gpio11               
spi_software_sclk_pin: sb2040:gpio0
spi_software_mosi_pin: sb2040:gpio3
spi_software_miso_pin: sb2040:gpio2
run_current: 0.65                   
interpolate: False                  
rref: 12300                         
stealthchop_threshold: 99999        
driver_TPFD: 0